*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    max-width: 1350px;
}
#header{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
}
#div1{
    height: 13%;
    background-color:#FFC54D;
}
#div2{
    display: flex;
    flex-direction: row;
    justify-content:end;
    width: 100%;
    height: 24%;
    background-color:rgb(95,161,153);
} 
#nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 60%;
    padding-left: 1%;
}
.page{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
    text-transform: uppercase;
}
.page:hover{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #FFC54D;
    border-bottom: 3px solid #FFC54D;
    transition: 0.2s;
}    
#hamburguerButton{
    display: none;
}
#div3{
    height: 63%;
    width: 100%;
    background-image: url(./hockey-arena-s.jpg);
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    align-items: end;
    padding-left: 5%;
}
#logo{position: relative;
    left:5%;
    width: 160px;
    background-color: rgb(18, 18, 18);
}
main{
    display: flex;
    flex-direction: column; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#section1{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(243, 243, 243);
}
   
h3{ 
    margin-top: 2%;
    padding-left: 10%;
    background-color: rgb(85, 162, 160, 0.5);
    border-top: 2px solid rgb(85, 162, 160);
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(78, 78, 78);
}
h4{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.infoDate{ 
    padding: 2%;
    padding-left: 12%;
}
#subRules{
    justify-content: center;
}
.about{
    padding: 2%;
}
#tabla1{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
td{ 
    text-align: center;
    padding: 5px;
}
thead{
    background-color: rgb(85, 162, 160, 0.5);
    border-top:2px solid rgb(85, 162, 160);
    color: rgb(57, 57, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
#informationGame{
    display: flex;
    flex-direction: column;
}
.infGame{
    display: inline-block;
    line-height: 200%;
    font-weight:normal;
}
#coordinator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
li{
    list-style-position: inside;
}
.titulos{
    text-align:center;
    margin-bottom: 5%;
    line-height: 200%;
    font-size: 20px;
}
.rules{
    width: 100%;
    padding: 2%;
}
#footer{
    width: 100%;
    height: 75px;
    margin-top:auto;
    background-color: rgb(85, 162, 160);
}
#maps{display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(./FondoMaps-G.png);   
}
.map{display: inline-block;
    margin: 0.2%;
    text-align: center;
    backdrop-filter: blur(10px);
}
.mapa{
    width: 100%;
}
fieldset{
    border: none;
    margin-top: 1%;;
}
label{
    display: inline-block;
    margin: 1%;
}
legend{
    font-weight: bold;
}
#send{
    margin-top: 1%;
    background-color: rgb(85, 162, 160);
    padding: 1% 3%;
    font-size: 18px;
    color: white;
    border-radius: 5%;
}
#send:hover{
box-shadow: 0px 4px 8px 1px black;
transition: 0.2s;
}
@media screen and (max-width:1199px){
    #nav{
        width: 80%;
    }
}
@media screen and (max-width: 959px){
    #nav{
        justify-content: end;
    }
    #hamburguerButton{
        display:inline-block;
        border: 1px solid red;
        margin: 2%;
    }
    #menuHamburguesa{
        display:block
    }
    .page{
        display: none;
}
#logo{
    left: 0%;
}
}
@media screen and (max-width:  479px){
    #nav{
        justify-content: end;
    }
    #hamburguerButton{
        display:inline-block;
        border: 1px solid red;
        margin: 2%;
    }
    .page{
        display: none;
    }
    #logo{
        left: 0%;
    }
   
    main{
        margin: 0%;
    }
}
